---
import ShopLayout from "../../layouts/ShopLayout.astro";

import ShowProductsInCategory from "../../components/Category/ShowProductsInCategory.vue";

import { getAllProductPaths } from "../../lib/fetchData.js";

const { slug } = Astro.params;

export async function getStaticPaths() {
  const paths = await getAllProductPaths();

  console.log(paths);
  return paths;
}

const { catProducts } = Astro.props;
console.log(catProducts.productCategory?.products?.nodes.length);

const products =
  catProducts.productCategory?.products?.nodes || [];
---

<ShopLayout title="Products">
  <h1 class="text-3xl text-center font-bold p-6">All {slug}</h1>
  <ShowProductsInCategory allProducts={products} client:load />
</ShopLayout>
