---
import Layout from "../layouts/Layout.astro";
import Searchs from "../components/Search/Search.vue";
---

<Layout title="Search">
  <main>
    <h1 class="text-center text-3xl font-bold p-4">Search</h1>
    <div id="app">
        <router-view />
      </div>
  </main>
</Layout>
<script>
    import { createApp } from 'vue';
  import App from '../App.vue'
  import router from '../router/index.js';
    export default {
      name: "App",
    };
    createApp(App).use(router).mount('#app')
    </script>


