---
import Layout from "../layouts/Layout.astro";
//import Cart from "../components/Cart/Cart.vue";
import client from '../lib/apollo-client';
import gql from 'graphql-tag';

import CartRow from '../components/CartRow.astro';

import type { CartItem } from '../data/types';

const { data, loading } = await client.query({
  query: gql`
    query ShoppingCart {
      cart {
        name
        price
        qty
      }
    }
  `,
});
const cartItems: Array<CartItem> = data.cart;
---

<Layout title="Cart">
  <main>
    <section class="price_list_area p_100">
      <div class="container">
    <h1 class="text-center text-3xl font-bold p-4">Cart</h1>
    <h1>Welcome to the shopping cart</h1>
    <p>Here's what's in your shopping cart today:</p>

    {loading && <p>Loading your cart...</p>}

    {
      !loading && (
        <table>
					<thead>
						<tr>
							<th>Product name</th>
							<th>Quantity</th>
							<th>Item price</th>
							<th>Row total</th>
						</tr>
					</thead>
					<tbody>
          	{cartItems.map((item) => <CartRow item={item} />)}
					</tbody>
        </table>
      )
    }

   <!-- <Cart showCheckoutButton={true} client:load />   -->

  </div>
  </section>
  </main>
</Layout>