---
import Layout from "../layouts/Layout.astro";
import gql from "graphql-tag";
import client from "../lib/apollo-client";
import HomeSlider from "../components/Index/HomeCarousel.vue";
import OurServices from "../components/Index/OurServices.astro";
import ShowAllCategories from "../components/Category/ShowAllCategories.vue";
import CartRow from "../components/CarRow.astro";
import ServiceRow from "../components/Index/ServiceRow.astro";
import cars from "../data/cars";
import services from "../data/services";
import Facts from "../layouts/Facts.astro";
import About from "../layouts/About.astro";
import Team from "../layouts/Team.astro";
import Product from "../layouts/Product.astro";
import Testinomial from "../layouts/Testinomial.astro";
const variables = { limit: 99 };
const { data, loading } = await client.query({
  query: gql`
    {
      productCategories(first: 20) {
        nodes {
          id
          databaseId
          name
          slug
        }
      }
    }
  `,
  variables,
});
---

<Layout title="Index">
  <HomeSlider client:load />
  <Facts />
  <Product />
  <About />
  <Team />
  <Testinomial />
  
  <h1 class="text-center text-3xl font-bold p-4">Categories</h1>
  <ShowAllCategories categories={data.productCategories} client:load />
  <section class="service_we_offer_area gray_service p_100">
    <div class="container">
      <div class="single_b_title">
        <h2>Services We offer</h2>
      </div>
      <div class="row we_offer_inner">
        {services.map((item) => <ServiceRow service={item} />)}
      </div>
    </div>
  </section>
</Layout>
