---
import Layout from "../layouts/Layout.astro";
import gql from "graphql-tag";
import client from "../lib/apollo-client";
import HomeSlider from "../components/Index/HomeCarousel.vue";
//import HtmlBlockList from "../components/Index/LuyaHtmlBlockList.vue";
import type { CartItemDisplayInfo } from "../stores/cartStore";
import ShowAllCategories from "../components/Category/ShowAllCategories.vue";
import CartRow from "../components/CarRow.astro";
import { getAllCategories } from "../graphql/queries/getAllCategories";
// import type { CarItem } from "../data/types";
import cars from "../data/cars";
const categories = await getAllCategories();
const variables = { limit: 99 };
const { data, loading } = await client.query({
  query: gql`
    {
      productCategories(first: 20) {
        nodes {
          id
          databaseId
          name
          slug
        }
      }
    }
  `,
  variables,
});

console.log(data.nodes);
import { useQuery } from "@vue/apollo-composable";
import ViewAllCategories from "../components/Category/ViewAllCategories.vue";
//import LocalButton from '../components/Common/Button.vue';
import LibraryButton from 'primevue/button';

import 'primevue/resources/themes/aura-light-blue/theme.css';
---

<Layout title="Index">
  <!-- <Hero />  -->
  <HomeSlider client:load />
  <h1 class="text-center text-3xl font-bold p-4">Categories</h1>
  <!--<HtmlBlockList client:load />   -->
  <ShowAllCategories categories={categories} client:load />  
  <section id="banner">
    <h2>Up to <span>30% Off</span> on All Cakes &amp; Decoratives</h2>
    <button class="button-normal">EXPLORE MORE</button>
  </section>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Make</th>
        <th>Model</th>
      </tr>
    </thead>
    <tbody>
      {cars.map((item) => <CartRow item={item} />)}
    </tbody>
  </table>
</Layout>

<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
  .loader {
    width: 48px;
    height: 48px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 0;
    background: #ff3d00;
    width: 3px;
    height: 24px;
    transform: translateX(-50%);
  }
  .fadeIn {
    animation: fadeIn 2.5s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes bounce-out {
    0% {
      transform: scale(1);
    }
    45% {
      transform: scale(1.3);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }

  .bounce-it {
    view-transition-name: bounce-it;
  }

  ::view-transition-old(bounce-it) {
    animation: 600ms cubic-bezier(0.4, 0, 0.2, 1) both bounce-out;
  }

  ::view-transition-new(bounce-it) {
    animation: 600ms cubic-bezier(0.4, 0, 0.2, 1) both bounce-in;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
