---
export const partial = true;

let userInput = Astro.url.searchParams.get("user_input");

//const formData = await Astro.request.formData;
//const data1 = formData.get('post-input-1').toString();
const data2 = "";//Astro.request.formData.get('post-input-2').toString();
//console.log(userInput);
---
<div>I was clicked! {data2 ? `User input: ${data2}` : 'No user input provided.'}</div>