---
import Layout from "../../../layouts/Layout.astro";
import ShowSingleProduct from "../../../components/Products/ShowSingleProduct.vue";

import { getSingleProduct } from "../../../graphql/queries/getSingleProduct";
import { getAllProducts } from "../../../graphql/queries/getAllProducts";
import axios from "axios";
const { id, slug } = Astro.params;

export async function getStaticPaths() {
  const products = await getAllProducts();
  const paths = [];
  for (const prd of products.nodes) {
    const product = await getSingleProduct(prd.databaseId);
    if (typeof product.databaseId.toString() === "string") {
      paths.push({
        params: { id: product.databaseId.toString(), slug: product.slug },
        props: { product },
      });
    } else {
      console.error("Product ID is not a string:", prd.databaseId);
    }
  }
  return paths;
}
const { product } = Astro.props;
---

<Layout title="{product.name}"> 
    <h1 class="text-3xl text-center font-bold p-6">{product.name}</h1>
    <ShowSingleProduct product={product} client:load /> 
</Layout>
