---
import Layout from "../../../layouts/Layout.astro";
import ShowSingleProduct from "../../../components/Products/ShowSingleProduct.vue";

import { getSingleProduct } from "../../../graphql/queries/getSingleProduct";
import { getAllProducts } from "../../../graphql/queries/getAllProducts";
import axios from "axios";
const { id,slug } = Astro.params;

export async function getStaticPaths() {
  const products = await getAllProducts();
  const paths = [];
  for (const prd of products.nodes) {
    const product = await getSingleProduct(prd.slug);
    if (typeof prd.databaseId.toString() === 'string') {
  paths.push({ params: { id: prd.databaseId.toString(), slug: prd.slug }, props: { product } });
} else {
  // Handle cases where id is not a string (e.g., log an error or skip the product)
  console.error('Product ID is not a string:', prd.databaseId);
}
   // paths.push({ params: { id: prd.databaseId, slug: prd.slug }, props: { product } });
  }
  return paths;
}
const { product } = Astro.props;
---

<Layout title="Welcome to Single Products">
  <h1 class="text-3xl text-center font-bold p-6">Single Product page</h1>
  <ShowSingleProduct product={product} client:load />
</Layout>
