---

import Layout from "../../layouts/Layout.astro"
import ShowSingleProduct from "../../components/Products/ShowSingleProduct.vue"

import { getSingleProduct } from "../../graphql/queries/getSingleProduct"
import { getAllProducts } from "../../graphql/queries/getAllProducts"

const { slug } = Astro.params

export async function getStaticPaths() {
  const products = await getAllProducts()
  const paths = []; 
 for (const prd of products.nodes) {
  
   const product = await getSingleProduct(prd.slug);   
   paths.push({ params: { slug: product.slug }, props: { product } });
 }

 return paths;  

import Layout from "../../layouts/Layout.astro";
import ShowSingleProduct from "../../components/Products/ShowSingleProduct.vue";

import { getSingleProduct } from "../../graphql/queries/getSingleProduct";
import { getAllProducts } from "../../graphql/queries/getAllProducts";

const { slug } = Astro.params;

export async function getStaticPaths() {
  const products = await getAllProducts();
  const paths = [];
  for (const prd of products.nodes) {
    const product = await getSingleProduct(prd.slug);
    paths.push({ params: { slug: product.slug }, props: { product } });
  }

  return paths;

}
const { product } = Astro.props;
---

<Layout title="Welcome to Single Products">
  <main>
    <h1 class="text-3xl text-center font-bold p-6">Single Product page</h1>
    <ShowSingleProduct product={product} client:load />
  </main>

</Layout>

</Layout>
