---
const todayDate = new Date().getFullYear();
---
<footer id="footer" class="footer dark footer-full-width-off">
	<div class="row wpb_row row-fluid no-row-padding full-width-row no-column-padding vc_custom_1607344055252 row-has-fill"><div class="wpb_column columns medium-12 thb-light-column small-12"><div class="vc_column-inner  "><div class="wpb_wrapper "><div class="row wpb_row vc_inner row-fluid max_width row-o-content-middle row-flex"><div class="medium-text-left wpb_column columns medium-6 thb-dark-column small-12"><div class="vc_column-inner  "><div class="wpb_wrapper ">	<div id="thb-social-links-6698fe3d68e0b" class="thb-social-links-element style2">
					<div class="thb-social-links-container style2">
					<a href="https://facebook.com/fuelthemes" target="_blank" class="thb-social-link social-link-facebook" rel="noreferrer">
				<div class="thb-social-icon-container"><i class="thb-icon-facebook"></i></div>
							</a>
					<a href="https://twitter.com/fuel_themes" target="_blank" class="thb-social-link social-link-twitter" rel="noreferrer">
				<div class="thb-social-icon-container"><i class="thb-icon-twitter"></i></div>
							</a>
					<a href="https://instagram.com/fuelthemes" target="_blank" class="thb-social-link social-link-instagram" rel="noreferrer">
				<div class="thb-social-icon-container"><i class="thb-icon-instagram"></i></div>
							</a>
				</div>
			</div>
	<div class="vc_empty_space" id="thb-empty-space-6698fe3d692a3" style="height: 15px"><span class="vc_empty_space_inner"></span></div>
</div></div></div><div class="medium-text-right wpb_column columns medium-6 thb-dark-column small-12"><div class="vc_column-inner  "><div class="wpb_wrapper ">
	<div class="wpb_text_column wpb_content_element  ">
		<div class="wpb_wrapper">
			<p>NEED HELP?:<span style="font-weight: 600;">&nbsp;1-800-672-4399</span></p>

		</div>
	</div>
<div class="vc_empty_space" id="thb-empty-space-6698fe3d695e2" style="height: 15px"><span class="vc_empty_space_inner"></span></div>
</div></div></div></div><div class="vc_empty_space" id="thb-empty-space-6698fe3d696bd" style="height: 10px"><span class="vc_empty_space_inner"></span></div>
</div></div></div></div>
<style>.vc_custom_1607344055252{margin-bottom: 50px !important;border-bottom-width: 1px !important;border-bottom-color: rgba(255,255,255,0.2) !important;border-bottom-style: solid !important;}</style>		<div class="row footer-row">
							<div class="small-6 medium-4 large-2 columns">
				<div id="nav_menu-7" class="widget widget_nav_menu"><div class="thb-widget-title">Company</div><div class="menu-footer_menu_1-container"><ul id="menu-footer_menu_1-1" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-92"><a href="https://cakeoncall.in/wooshop/about-us/">About Us</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-830"><a href="https://cakeoncall.in/wooshop/about-us-3/">About Us</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93"><a href="https://cakeoncall.in/wooshop/about-us/">Careers</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-831"><a href="https://cakeoncall.in/wooshop/about-us-3/">Careers</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-94"><a href="https://cakeoncall.in/wooshop/about-us/">Affiliates</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-832"><a href="https://cakeoncall.in/wooshop/about-us-3/">Affiliates</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-95"><a href="https://cakeoncall.in/wooshop/blog/">Blog</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-833"><a href="https://cakeoncall.in/wooshop/blog-2/">Blog</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-663"><a href="https://cakeoncall.in/wooshop/contact-us/">Contact Us</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-935"><a href="https://cakeoncall.in/wooshop/contact-us-3/">Contact Us</a></li>
<li id="menu-item-665" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-665"><a href="https://cakeoncall.in/wooshop/privacy/">Privacy</a></li>
<li id="menu-item-937" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-937"><a href="https://cakeoncall.in/wooshop/privacy-2/">Privacy</a></li>
<li id="menu-item-664" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-664"><a href="https://cakeoncall.in/wooshop/faq/">F.A.Q.</a></li>
<li id="menu-item-936" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-936"><a href="https://cakeoncall.in/wooshop/faq-2/">F.A.Q.</a></li>
</ul></div></div>			</div>
			<div class="small-6 medium-4 large-2 columns">
				<div id="nav_menu-8" class="widget widget_nav_menu"><div class="thb-widget-title">Shop</div><div class="menu-footer_menu_3-container"><ul id="menu-footer_menu_3" class="menu"><li id="menu-item-61" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-61"><a href="https://cakeoncall.in/wooshop/product-category/new-in/">New Arrivals</a></li>
<li id="menu-item-838" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-838"><a href="https://cakeoncall.in/wooshop/product-category/new-in/">New Arrivals</a></li>
<li id="menu-item-100" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-100"><a href="https://cakeoncall.in/wooshop/product-category/muffin/">Muffins</a></li>
<li id="menu-item-839" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-839"><a href="https://cakeoncall.in/wooshop/product-category/muffin/">Muffins</a></li>
<li id="menu-item-63" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-63"><a href="https://cakeoncall.in/wooshop/product-category/men/">Men</a></li>
<li id="menu-item-840" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-840"><a href="https://cakeoncall.in/wooshop/product-category/men/">Men</a></li>
<li id="menu-item-64" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-64"><a href="https://cakeoncall.in/wooshop/product-category/women/">Women</a></li>
<li id="menu-item-842" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-842"><a href="https://cakeoncall.in/wooshop/product-category/women/">Women</a></li>
<li id="menu-item-801" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-801"><a href="https://cakeoncall.in/wooshop/shop-2/">Shop All</a></li>
<li id="menu-item-843" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-843"><a href="https://cakeoncall.in/wooshop/shop-3/">Shop All</a></li>
</ul></div></div>			</div>
			<div class="small-6 medium-4 large-2 columns">
				<div id="nav_menu-9" class="widget widget_nav_menu"><div class="thb-widget-title">Support</div><div class="menu-footer_menu_2-container"><ul id="menu-footer_menu_2" class="menu"><li id="menu-item-96" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-96"><a href="https://cakeoncall.in/wooshop/contact-us/">Contact Us</a></li>
<li id="menu-item-834" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-834"><a href="https://cakeoncall.in/wooshop/contact-us-3/">Contact Us</a></li>
<li id="menu-item-97" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-97"><a href="https://cakeoncall.in/wooshop/faq/">Returns</a></li>
<li id="menu-item-835" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-835"><a href="https://cakeoncall.in/wooshop/faq-2/">Returns</a></li>
<li id="menu-item-98" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-98"><a href="https://cakeoncall.in/wooshop/faq/">F.A.Q.</a></li>
<li id="menu-item-836" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-836"><a href="https://cakeoncall.in/wooshop/faq-2/">F.A.Q.</a></li>
<li id="menu-item-99" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-99"><a href="https://cakeoncall.in/wooshop/faq/">Privacy</a></li>
<li id="menu-item-837" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-837"><a href="https://cakeoncall.in/wooshop/faq-2/">Privacy</a></li>
</ul></div></div>			</div>
			<div class="small-6 medium-4 large-3 columns">
							</div>
			<div class="small-12 medium-8 large-3 columns">
				<div id="thb_subscribe_widget-3" class="widget thb_widget_subscribe">		<aside class="thb-newsletter-form">
			<div class="thb-widget-title">Subscribe</div>			<p>Enter your email address to get <span style="color:#fff;font-weight: 500">$20 off your first order</span></p>
			<form class="newsletter-form thb-active" action="#" method="post" data-security="cb7245d073">
				<input placeholder="Your E-Mail" type="email" name="widget_subscribe" class="widget_subscribe">
				<button type="submit" name="submit" class="btn accent">SUBSCRIBE</button>
							</form>
					<div class="thb-checkbox">
			<input type="checkbox" id="thb-newsletter-privacy-828" name="thb-newsletter-privacy" class="thb-newsletter-privacy" checked="checked">
			<label for="thb-newsletter-privacy-828">
				I would like to receive news and special offers.			</label>
		</div>
				</aside>
		</div>			</div>
				</div>
</footer>
<!--
<footer class="footer set-bg" data-setbg="/images/footer-bg.jpg" style="background-image: url(&quot;/images/footer-bg.jpg&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>WORKING HOURS</h6>
                    <ul>
                        <li>Monday - Friday: 08:00 am – 08:30 pm</li>
                        <li>Saturday: 10:00 am – 16:30 pm</li>
                        <li>Sunday: 10:00 am – 16:30 pm</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="/images/footer-logo.png" alt=""></a>
                    </div>
                    <p>Lorem ipsum dolor amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore dolore magna aliqua.</p>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__newslatter">
                    <h6>Subscribe</h6>
                    <p>Get latest updates and offers.</p>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit"><i class="fa fa-send-o"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <p class="copyright__text text-white">
                      Copyright ©<script>document.write(new Date().getFullYear());</script>2024 All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                      
                  </p>
              </div>
              <div class="col-lg-5">
                <div class="copyright__widget">
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Site Map</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>
-->