<header
  class="header style4 thb-main-header thb-header-full-width-off light-header mobile-header-style1"
>
  <div class="header-logo-row">
    <div class="row align-middle">
      <div class="small-2 medium-3 columns hide-for-large">
        <div class="mobile-toggle-holder thb-secondary-item">
          <div class="mobile-toggle">
            <span></span><span></span><span></span>
          </div>
        </div>
      </div>
      <div class="small-8 medium-6 large-8 columns mobile-logo-column">
        <div class="logo-holder">
          <a
            href="https://cakeoncall.in/wooshop/"
            class="logolink"
            title="Yii Wordpress Store"
          >
            <img
              src="https://peakshops.fuelthemes.net/peakshops-bakery/wp-content/uploads/sites/13/2020/01/logo.png"
              loading="lazy"
              class="logoimg logo-dark"
              alt="Yii Wordpress Store"
            />
          </a>
        </div>
        <div class="thb-navbar">
          <nav class="full-menu">
            <ul id="menu-navigation" class="thb-full-menu">
              <li
                id="menu-item-89"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-806 current_page_item menu-item-89"
              >
                <a href="https://cakeoncall.in/wooshop/">Demos</a>
              </li>
              <li
                id="menu-item-827"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-827"
              >
                <a href="https://cakeoncall.in/wooshop/home-2/">Demos</a>
              </li>
              <li
                id="menu-item-91"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-91 menu-item-mega-parent"
              >
                <a href="https://cakeoncall.in/wooshop/shop-2/">Shop</a>
              </li>
              <li
                id="menu-item-829"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-829 menu-item-mega-parent"
              >
                <a href="https://cakeoncall.in/wooshop/shop-3/">Shop</a>
              </li>
              <li
                id="menu-item-269"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-269"
              >
                <a href="#">Pages</a>
                <ul class="sub-menu">
                  <li
                    id="menu-item-292"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-292"
                  >
                    <a href="https://cakeoncall.in/wooshop/about-us/"
                      >About Us</a>
                  </li>
                  <li
                    id="menu-item-866"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-866"
                  >
                    <a href="https://cakeoncall.in/wooshop/about-us-3/"
                      >About Us</a>
                  </li>
                  <li
                    id="menu-item-566"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-566"
                  >
                    <a href="https://cakeoncall.in/wooshop/about-us-2/"
                      >About Us – 2</a>
                  </li>
                  <li
                    id="menu-item-911"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-911"
                  >
                    <a href="https://cakeoncall.in/wooshop/about-us-2-2/"
                      >About Us – 2</a>
                  </li>
                  <li
                    id="menu-item-67"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-67"
                  >
                    <a href="https://cakeoncall.in/wooshop/privacy/">Privacy</a>
                  </li>
                  <li
                    id="menu-item-844"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-844"
                  >
                    <a href="https://cakeoncall.in/wooshop/privacy-2/"
                      >Privacy</a>
                  </li>
                  <li
                    id="menu-item-68"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-68"
                  >
                    <a href="https://cakeoncall.in/wooshop/faq/"
                      >Frequently Asked Questions</a>
                  </li>
                  <li
                    id="menu-item-845"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-845"
                  >
                    <a href="https://cakeoncall.in/wooshop/faq-2/"
                      >Frequently Asked Questions</a>
                  </li>
                  <li
                    id="menu-item-69"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69"
                  >
                    <a href="https://cakeoncall.in/wooshop/contact-us/"
                      >Contact Us</a>
                  </li>
                  <li
                    id="menu-item-846"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-846"
                  >
                    <a href="https://cakeoncall.in/wooshop/contact-us-3/"
                      >Contact Us</a>
                  </li>
                  <li
                    id="menu-item-565"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-565"
                  >
                    <a href="https://cakeoncall.in/wooshop/contact-us-2/"
                      >Contact Us – 2</a>
                  </li>
                  <li
                    id="menu-item-910"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-910"
                  >
                    <a href="https://cakeoncall.in/wooshop/contact-us-2-2/"
                      >Contact Us – 2</a>
                  </li>
                </ul>
              </li>
              <li
                id="menu-item-847"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-847"
              >
                <a href="#">Pages</a>
              </li>
              <li
                id="menu-item-90"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-90"
              >
                <a href="https://cakeoncall.in/wooshop/blog/">Blog</a>
              </li>
              <li
                id="menu-item-828"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-828"
              >
                <a href="https://cakeoncall.in/wooshop/blog-2/">Blog</a>
              </li>
              <li
                id="menu-item-616"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-616"
              >
                <a href="https://cakeoncall.in/wooshop/features/">Features</a>
              </li>
              <li
                id="menu-item-918"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-918"
              >
                <a href="https://cakeoncall.in/wooshop/features-2/">Features</a>
              </li>
              <li
                id="menu-item-286"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-286 menu-item-mega-parent"
              >
                <a href="#">Elements</a>
                <ul
                  class="sub-menu"
                  style="display: none; margin-left: -345px;"
                >
                  <li
                    id="menu-item-335"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-335 mega-menu-title"
                  >
                    <a href="#">Structure</a>
                    <ul class="sub-menu">
                      <li
                        id="menu-item-326"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-326 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/structure/columns/"
                          >Columns</a>
                      </li>
                      <li
                        id="menu-item-868"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-868 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/structure-2/columns/"
                          >Columns</a>
                      </li>
                      <li
                        id="menu-item-327"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-327 menu-item-mega-link"
                      >
                        <a href="https://cakeoncall.in/wooshop/structure/rows/"
                          >Rows</a>
                      </li>
                      <li
                        id="menu-item-869"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-869 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/structure-2/rows/"
                          >Rows</a>
                      </li>
                      <li
                        id="menu-item-324"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-324 menu-item-mega-link"
                      >
                        <a href="https://cakeoncall.in/wooshop/dividers/"
                          >Dividers</a>
                      </li>
                      <li
                        id="menu-item-867"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-867 menu-item-mega-link"
                      >
                        <a href="https://cakeoncall.in/wooshop/dividers-2/"
                          >Dividers</a>
                      </li>
                      <li
                        id="menu-item-386"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-386 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/structure/horizontal-list-item/"
                          >Horizontal list Item</a>
                      </li>
                      <li
                        id="menu-item-892"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-892 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/structure-2/horizontal-list-item/"
                          >Horizontal list Item</a>
                      </li>
                      <li
                        id="menu-item-607"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-607 title-item menu-item-mega-link"
                      >
                        <a href="#">Shop Elements</a>
                      </li>
                      <li
                        id="menu-item-915"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-915 title-item menu-item-mega-link"
                      >
                        <a href="#">Shop Elements</a>
                      </li>
                      <li
                        id="menu-item-609"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-609 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/media/product-grids/"
                          >Product Grids</a>
                      </li>
                      <li
                        id="menu-item-916"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-916 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/media-2/product-grids/"
                          >Product Grids</a>
                      </li>
                      <li
                        id="menu-item-611"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-611 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/media/product-list/"
                          >Product List</a>
                      </li>
                      <li
                        id="menu-item-917"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-917 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/media-2/product-list/"
                          >Product List</a>
                      </li>
                      <li
                        id="menu-item-479"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-479 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/media/product-hotspots/"
                          >Product HotSpots</a>
                      </li>
                      <li
                        id="menu-item-905"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-905 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/media-2/product-hotspots/"
                          >Product HotSpots</a>
                      </li>
                      <li
                        id="menu-item-588"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-588 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/product-categories/"
                          >Product Categories</a>
                      </li>
                      <li
                        id="menu-item-912"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-912 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/product-categories-2/"
                          >Product Categories</a>
                      </li>
                    </ul>
                  </li>
                  <li
                    id="menu-item-870"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-870 mega-menu-title"
                  >
                    <a href="#">Structure</a>
                  </li>
                  <li
                    id="menu-item-336"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-336 mega-menu-title"
                  >
                    <a href="#">Typography</a>
                    <ul class="sub-menu">
                      <li
                        id="menu-item-340"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-340 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/typography/auto-type-text/"
                          >Auto Type Text</a>
                      </li>
                      <li
                        id="menu-item-875"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-875 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/typography-2/auto-type-text/"
                          >Auto Type Text</a>
                      </li>
                      <li
                        id="menu-item-339"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-339 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/typography/fade-text/"
                          >Fade Text</a>
                      </li>
                      <li
                        id="menu-item-874"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-874 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/typography-2/fade-text/"
                          >Fade Text</a>
                      </li>
                      <li
                        id="menu-item-338"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-338 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/typography/gradient-text/"
                          >Gradient Text</a>
                      </li>
                      <li
                        id="menu-item-873"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-873 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/typography-2/gradient-text/"
                          >Gradient Text</a>
                      </li>
                      <li
                        id="menu-item-341"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-341 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/typography/slide-text/"
                          >Slide Text</a>
                      </li>
                      <li
                        id="menu-item-876"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-876 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/typography-2/slide-text/"
                          >Slide Text</a>
                      </li>
                      <li
                        id="menu-item-337"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-337 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/typography/stroke-text/"
                          >Stroke Text</a>
                      </li>
                      <li
                        id="menu-item-872"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-872 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/typography-2/stroke-text/"
                          >Stroke Text</a>
                      </li>
                      <li
                        id="menu-item-482"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-482 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/typography/section-titles/"
                          >Section Titles</a>
                      </li>
                      <li
                        id="menu-item-906"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-906 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/typography-2/section-titles/"
                          >Section Titles</a>
                      </li>
                    </ul>
                  </li>
                  <li
                    id="menu-item-871"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-871 mega-menu-title"
                  >
                    <a href="#">Typography</a>
                  </li>
                  <li
                    id="menu-item-349"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-349 mega-menu-title"
                  >
                    <a href="#">General Content</a>
                    <ul class="sub-menu">
                      <li
                        id="menu-item-388"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-388 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/general-content/blog-posts/"
                          >Blog Posts</a>
                      </li>
                      <li
                        id="menu-item-893"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-893 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/general-content-2/blog-posts/"
                          >Blog Posts</a>
                      </li>
                      <li
                        id="menu-item-509"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-509 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/general-content/buttons/"
                          >Buttons</a>
                      </li>
                      <li
                        id="menu-item-908"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-908 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/general-content-2/buttons/"
                          >Buttons</a>
                      </li>
                      <li
                        id="menu-item-355"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-355 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/general-content/clients/"
                          >Clients</a>
                      </li>
                      <li
                        id="menu-item-883"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-883 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/general-content-2/clients/"
                          >Clients</a>
                      </li>
                      <li
                        id="menu-item-354"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-354 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/general-content/counters/"
                          >Counters</a>
                      </li>
                      <li
                        id="menu-item-882"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-882 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/general-content-2/counters/"
                          >Counters</a>
                      </li>
                      <li
                        id="menu-item-378"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-378 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/general-content/food-menus/"
                          >Food Menus</a>
                      </li>
                      <li
                        id="menu-item-889"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-889 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/general-content-2/food-menus/"
                          >Food Menus</a>
                      </li>
                      <li
                        id="menu-item-550"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-550 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/general-content/iconboxes/"
                          >Iconboxes</a>
                      </li>
                      <li
                        id="menu-item-909"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-909 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/general-content-2/iconboxes/"
                          >Iconboxes</a>
                      </li>
                      <li
                        id="menu-item-351"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-351 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/general-content/pricing-tables/"
                          >Pricing Tables</a>
                      </li>
                      <li
                        id="menu-item-879"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-879 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/general-content-2/pricing-tables/"
                          >Pricing Tables</a>
                      </li>
                      <li
                        id="menu-item-357"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-357 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/general-content/tabbed-content/"
                          >Tabbed Content</a>
                      </li>
                      <li
                        id="menu-item-884"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-884 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/general-content-2/tabbed-content/"
                          >Tabbed Content</a>
                      </li>
                      <li
                        id="menu-item-353"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-353 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/general-content/team-members/"
                          >Team Members</a>
                      </li>
                      <li
                        id="menu-item-881"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-881 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/general-content-2/team-members/"
                          >Team Members</a>
                      </li>
                      <li
                        id="menu-item-350"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-350 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/general-content/testimonials/"
                          >Testimonials</a>
                      </li>
                      <li
                        id="menu-item-878"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-878 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/general-content-2/testimonials/"
                          >Testimonials</a>
                      </li>
                      <li
                        id="menu-item-352"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-352 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/general-content/toggles-accordions/"
                          >Toggles &amp; Accordions</a>
                      </li>
                      <li
                        id="menu-item-880"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-880 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/general-content-2/toggles-accordions/"
                          >Toggles &amp; Accordions</a>
                      </li>
                    </ul>
                  </li>
                  <li
                    id="menu-item-877"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-877 mega-menu-title"
                  >
                    <a href="#">General Content</a>
                  </li>
                  <li
                    id="menu-item-362"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-362 mega-menu-title"
                  >
                    <a href="#">Media</a>
                    <ul class="sub-menu">
                      <li
                        id="menu-item-382"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-382 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/media/banner-grids/"
                          >Banner Grids</a>
                      </li>
                      <li
                        id="menu-item-890"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-890 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/media-2/banner-grids/"
                          >Banner Grids</a>
                      </li>
                      <li
                        id="menu-item-364"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-364 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/media/cascading-images/"
                          >Cascading Images</a>
                      </li>
                      <li
                        id="menu-item-887"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-887 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/media-2/cascading-images/"
                          >Cascading Images</a>
                      </li>
                      <li
                        id="menu-item-507"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-507 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/general-content/flipbox/"
                          >Flipbox</a>
                      </li>
                      <li
                        id="menu-item-907"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-907 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/general-content-2/flipbox/"
                          >Flipbox</a>
                      </li>
                      <li
                        id="menu-item-365"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-365 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/media/image-carousels/"
                          >Image Carousels</a>
                      </li>
                      <li
                        id="menu-item-888"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-888 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/media-2/image-carousels/"
                          >Image Carousels</a>
                      </li>
                      <li
                        id="menu-item-383"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-383 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/media/image-sliders/"
                          >Image Sliders</a>
                      </li>
                      <li
                        id="menu-item-891"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-891 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/media-2/image-sliders/"
                          >Image Sliders</a>
                      </li>
                      <li
                        id="menu-item-363"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-363 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/media/video-lightbox/"
                          >Video Lightbox</a>
                      </li>
                      <li
                        id="menu-item-886"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-886 menu-item-mega-link"
                      >
                        <a
                          href="https://cakeoncall.in/wooshop/media-2/video-lightbox/"
                          >Video Lightbox</a>
                      </li>
                    </ul>
                  </li>
                  <li
                    id="menu-item-885"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-885 mega-menu-title"
                  >
                    <a href="#">Media</a>
                  </li>
                </ul>
              </li>
              <li
                id="menu-item-860"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-860 menu-item-mega-parent"
              >
                <a href="#">Elements</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="small-2 medium-3 large-4 columns">
        <div class="thb-secondary-area thb-separator-off">
          <a
            class="thb-secondary-item thb-quick-profile"
            href="https://cakeoncall.in/wooshop/my-account-2/"
            title="My Account"
          >
            <svg
              version="1.1"
              class="thb-myaccount-icon"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 18 20"
              xml:space="preserve"
            >
              <path
                stroke-width="0.1"
                stroke-miterlimit="10"
                d="M18,19.3c0,0.4-0.3,0.7-0.8,0.7c-0.4,0-0.8-0.3-0.8-0.7c0-3.9-3.3-7.1-7.5-7.1c-4.1,0-7.5,3.2-7.5,7.1
	c0,0.4-0.3,0.7-0.8,0.7C0.3,20,0,19.7,0,19.3c0-4.7,4-8.5,9-8.5C14,10.7,18,14.6,18,19.3z M9,10.2c-3,0-5.4-2.3-5.4-5.1
	C3.6,2.3,6,0,9,0c3,0,5.4,2.3,5.4,5.1C14.4,8,12,10.2,9,10.2z M9,8.8c2.1,0,3.9-1.6,3.9-3.7c0-2-1.7-3.7-3.9-3.7
	c-2.1,0-3.9,1.6-3.9,3.7C5.1,7.1,6.9,8.8,9,8.8z"
              ></path>
            </svg>
          </a>
          <div class="thb-secondary-item thb-quick-cart has-dropdown">
            <span class="thb-item-text thb-cart-amount"
              ><span class="woocommerce-Price-amount amount"
                ><bdi
                  ><span class="woocommerce-Price-currencySymbol">₹</span
                  >78.00</bdi
                ></span
              ></span
            >

            <div class="thb-item-icon-wrapper">
              <span class="thb-item-icon">
                <svg
                  version="1.1"
                  class="thb-cart-icon thb-cart-icon-style1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 19 20"
                  xml:space="preserve"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                  stroke="#000"
                >
                  <path
                    d="M3.8,1L0.9,4.6v12.6c0,1,0.9,1.8,1.9,1.8h13.3c1,0,1.9-0.8,1.9-1.8V4.6L15.2,1H3.8z"
                  ></path>
                  <line x1="0.9" y1="4.6" x2="18" y2="4.6"></line>
                  <path d="M13.3,8.2c0,2-1.7,3.6-3.8,3.6s-3.8-1.6-3.8-3.6"
                  ></path>
                </svg>
              </span>
              <span class="count thb-cart-count">3</span>
            </div>
            <div class="thb-secondary-cart thb-secondary-dropdown">
              <div class="widget woocommerce widget_shopping_cart">
                <div class="widget_shopping_cart_content">
                  <ul
                    class="woocommerce-mini-cart cart_list product_list_widget"
                  >
                    <li class="woocommerce-mini-cart-item mini_cart_item">
                      <a
                        href="https://cakeoncall.in/wooshop/cart-2/?remove_item=883e881bb4d22a7add958f2d6b052c9f&_wpnonce=f0947a4089"
                        class="remove remove_from_cart_button"
                        aria-label="Remove Chocolate Peppermint Holiday Cake from cart"
                        data-product_id="1027"
                        data-cart_item_key="883e881bb4d22a7add958f2d6b052c9f"
                        data-product_sku="63902">×</a
                      >
                      <a
                        href="https://cakeoncall.in/wooshop/product/cotton-jersey-t-shirt-3-pack-2/"
                      >
                        <img
                          width="300"
                          height="300"
                          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                          class="woocommerce-placeholder wp-post-image thb-lazyload lazyload"
                          alt="Placeholder"
                          decoding="async"
                          loading="lazy"
                          sizes="(max-width: 300px) 100vw, 300px"
                          data-src="https://cakeoncall.in/wooshop/wp-content/uploads/woocommerce-placeholder-300x300.png"
                          data-sizes="auto"
                          data-srcset="https://cakeoncall.in/wooshop/wp-content/uploads/woocommerce-placeholder-300x300.png 300w, https://cakeoncall.in/wooshop/wp-content/uploads/woocommerce-placeholder-100x100.png 100w, https://cakeoncall.in/wooshop/wp-content/uploads/woocommerce-placeholder-150x150.png 150w"
                        />Chocolate Peppermint Holiday Cake
                      </a>
                      <span class="quantity"
                        >2 × <span class="woocommerce-Price-amount amount"
                          ><bdi
                            ><span class="woocommerce-Price-currencySymbol"
                              >₹</span
                            >35.00</bdi
                          ></span
                        ></span
                      >
                    </li>
                    <li class="woocommerce-mini-cart-item mini_cart_item">
                      <a
                        href="https://cakeoncall.in/wooshop/cart-2/?remove_item=995e1fda4a2b5f55ef0df50868bf2a8f&_wpnonce=f0947a4089"
                        class="remove remove_from_cart_button"
                        aria-label="Remove Ferrero Rocher Stuffed Cupcakes from cart"
                        data-product_id="1032"
                        data-cart_item_key="995e1fda4a2b5f55ef0df50868bf2a8f"
                        data-product_sku="63690">×</a
                      >
                      <a
                        href="https://cakeoncall.in/wooshop/product/square-mini-bag-2/"
                      >
                        <img
                          width="300"
                          height="300"
                          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                          class="woocommerce-placeholder wp-post-image thb-lazyload lazyload"
                          alt="Placeholder"
                          decoding="async"
                          loading="lazy"
                          sizes="(max-width: 300px) 100vw, 300px"
                          data-src="https://cakeoncall.in/wooshop/wp-content/uploads/woocommerce-placeholder-300x300.png"
                          data-sizes="auto"
                          data-srcset="https://cakeoncall.in/wooshop/wp-content/uploads/woocommerce-placeholder-300x300.png 300w, https://cakeoncall.in/wooshop/wp-content/uploads/woocommerce-placeholder-100x100.png 100w, https://cakeoncall.in/wooshop/wp-content/uploads/woocommerce-placeholder-150x150.png 150w"
                        />Ferrero Rocher Stuffed Cupcakes
                      </a>
                      <span class="quantity"
                        >1 × <span class="woocommerce-Price-amount amount"
                          ><bdi
                            ><span class="woocommerce-Price-currencySymbol"
                              >₹</span
                            >8.00</bdi
                          ></span
                        ></span
                      >
                    </li>
                  </ul>

                  <p class="woocommerce-mini-cart__total total">
                    <strong>Subtotal:</strong>
                    <span class="woocommerce-Price-amount amount"
                      ><bdi
                        ><span class="woocommerce-Price-currencySymbol">₹</span
                        >78.00</bdi
                      ></span
                    >
                  </p>

                  <p class="woocommerce-mini-cart__buttons buttons">
                    <a
                      href="https://cakeoncall.in/wooshop/cart-2/"
                      class="button style2">View cart</a
                    ><a
                      href="https://cakeoncall.in/wooshop/checkout-2/"
                      class="button checkout wc-forward">Checkout</a>
                  </p>
                </div>
              </div>
              <div class="thb-header-after-cart">
                <p style="text-align: center;">
                  Free shipping on orders over <strong>$30</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="mobile-toggle-holder thb-secondary-item">
            <div class="mobile-toggle">
              <span></span><span></span><span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
