---
import { reactive } from "vue";
import Navbar from "./Navbar.astro";
---

<!-- Header Section Begin -->
<header class="main_header_three">
  <div class="top_logo_header">
    <div class="container">
      <div class="header_logo_inner">
        <div class="h_left_text">
          <div class="media">
            <div class="d-flex">
              <i class="flaticon-auricular-phone-symbol-in-a-circle"></i>
            </div>
            <div class="media-body">
              <a href="tel:18004567890">(1800) 456 7890</a>
              <p>Toll Free</p>
            </div>
          </div>
        </div>
        <div class="h_middle_text">
          <a href="index.html"><img src="img/logo-3.png" alt="" /></a>
        </div>
        <div class="h_right_text">
          <a class="pink_btn" href="#">Order online</a>
        </div>
      </div>
    </div>
  </div>
  <div class="middle_menu_three">
    <div class="container">
      <Navbar />
    </div>
  </div>
</header>

<style>
  .float-right {
    float: right !important;
  }
  .float-left {
    float: left !important;
  }
</style>
