<div class="subheader style1 dark subheader-mobile-off">
	<div class="row">
		<div class="small-12 medium-6 columns subheader-leftside">
			<ul id="menu-footer_menu_1" class="thb-full-menu"><li id="menu-item-92" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-92"><a href="https://cakeoncall.in/wooshop/about-us/">About Us</a></li>
<li id="menu-item-830" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-830"><a href="https://cakeoncall.in/wooshop/about-us-3/">About Us</a></li>
<li id="menu-item-93" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93"><a href="https://cakeoncall.in/wooshop/about-us/">Careers</a></li>
<li id="menu-item-831" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-831"><a href="https://cakeoncall.in/wooshop/about-us-3/">Careers</a></li>
<li id="menu-item-94" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-94"><a href="https://cakeoncall.in/wooshop/about-us/">Affiliates</a></li>
<li id="menu-item-832" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-832"><a href="https://cakeoncall.in/wooshop/about-us-3/">Affiliates</a></li>
<li id="menu-item-95" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-95"><a href="https://cakeoncall.in/wooshop/blog/">Blog</a></li>
<li id="menu-item-833" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-833"><a href="https://cakeoncall.in/wooshop/blog-2/">Blog</a></li>
<li id="menu-item-663" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-663"><a href="https://cakeoncall.in/wooshop/contact-us/">Contact Us</a></li>
<li id="menu-item-935" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-935"><a href="https://cakeoncall.in/wooshop/contact-us-3/">Contact Us</a></li>
</ul>		</div>
		<div class="small-12 medium-6 columns subheader-rightside">
				<ul class="thb-full-menu thb-currency-switcher">
		<li class="menu-item">
			<span class="thb-menu-label">Currency</span>
		</li>
			</ul>
			</div>
	</div>
</div>