body {
	font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $text;
}

a {
	text-decoration: none;
}

b {
	font-weight: 500 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
	margin: 0;
	padding: 0;
	font-weight: 200;
	color: $text;
}
